@import 'variables';
@import 'library';
@import 'libraryCourse';
@import 'arrow';
@import 'schedule';
@import 'scheduleCourse';
@import 'progressTracker';


.home {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: [library-s] 1fr 1fr [library-e schedule-s] 1fr [schedule-e];
    grid-template-rows: 1fr;
}



.schedule {
    grid-column: schedule-s/schedule-e;
    position: realative;
    width: 100%;
    height: 100%;
}

.gradient {
    position: absolute;
    height: 161%;
    width: 32vw;
    background: linear-gradient(120deg, $color-purple 0%,  $color-light-blue 100%);
    z-index: -2;
}